<h1> new entry </h1>
<form method='POST' action='/add' id="add">
  <input type='text' name='title' placeholder="Title">
  <br>
  <input type='text' name='dt' placeholder="date eg. 2018-10-05">
  <br>
  <textarea type='text' placeholder='Add text art here! Resize the box by dragging the bottom right corner!' name='artwork' cols='35' wrap='soft'></textarea>
  <br>
  <input type='text' name='tags' placeholder="tags separated by space">
  <br>
  <input type='submit'>
  </form>
