
<!DOCTYPE html>
<html>
		<head>
				<meta charset="UTF-8" />
				<meta name="viewport" content="width=device-width" />
        <link href="/css/base.css" rel="stylesheet" type="text/css">
        <title> ascii sketchbook </title>
        <p><img src='/images/logo.png' height="200px"></p>
				<h1>{{{title}}}</h1>
		</head>
		<body>
      {{{ body }}}
				<!-- specifies where your template goes -->
		</body>
    <footer>
      <h4> <a href="/">Home</a> <a href="/add">Add</a></h4>
    </footer>
</html>
